<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> 
    <head>
        <title>RFS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="myScripts/myCSS.css">
    </head>
    <body class="mw-100">
        <div class="container-fluid">
            <div th:fragment="address" th:remove="tag">
                <div class="align-content-center mh-100 modal mw-100 p-0 pg-show-modal vh-100" id="modalAddress" tabindex="-1" role="dialog" data-pg-name="modal"> 
                    <div class="modal-dialog"> 
                        <div class="modal-content mw-100" id="modalAddressContent" data-pg-name="modalContent"> 
                            <div th:fragment="addressContent" data-pg-name="fragmentAddressContent" th:remove="tag">
                                <div class="justify-content-center modal-header p-1 ps-2">
                                    <h4 class="bg-warning-subtle modal-title text-primary">Cadastro de endereço</h4> 
                                </div>
                                <form class="col-12 mw-100 text-start" 
                                      th:action="@{/gravarEndereco}" onsubmit="submitAddress(event)"
                                      method="post" data-pg-name="formEndereco" id="formEndereco"
                                      th:if="${address}" th:object="${address}">
                                    <div class="modal-body mw-100 p-1 ps-2 pe-2"> 
                                        <fieldset class="col-12 mw-100">
                                            <label class="fw-bold">CEP</label>
                                            <input data-pg-name="cep" class="col-12 mb-1 mw-100" onblur="buscarCEP()" th:field="*{cep}" required ></input>
                                        </fieldset>
                                        <fieldset class="col-12 mw-100">
                                            <label class="fw-bold mb-1">Endereço</label>
                                            <input data-pg-name="endereco" class="wait col-12 mw-100" th:value="*{endereco}" th:field="*{endereco}" required ></input>
                                        </fieldset>
                                        <fieldset class="col-12 mw-100">
                                            <label class="fw-bold mb-1">Número</label>
                                            <input data-pg-name="numero" class="wait col-12 mw-100" th:field="*{numero}" required ></input>
                                        </fieldset>
                                        <fieldset class="col-12 mw-100">
                                            <label class="fw-bold mb-1">Complemento</label>
                                            <input data-pg-name="complemento" class="wait col-12 mw-100" th:field="*{complemento}" ></input>
                                        </fieldset>
                                        <fieldset class="col-12 mw-100">
                                            <label class="fw-bold mb-1">Bairro</label>
                                            <input data-pg-name="bairro" class="wait col-12 mw-100" th:field="*{bairro}" required ></input>
                                        </fieldset>
                                        <fieldset class="col-12 mw-100">
                                            <label class="fw-bold mb-1">Cidade</label>
                                            <input data-pg-name="cidade" class="wait col-12 mw-100" th:field="*{cidade}" required ></input>
                                        </fieldset>
                                        <fieldset class="col-12 mw-100">
                                            <label class="fw-bold mb-1">Estado</label>
                                            <input data-pg-name="estado" class="wait col-12 mw-100" th:field="*{estado}" required ></input>
                                        </fieldset>
                                        <input type="hidden" th:field="*{id}" ></input>
                                        <input type="hidden" th:field="*{idCustomer}" ></input>
                                    </div>
                                    <div class="modal-footer p-1"> 
                                        <button type="button" class="btn btn-danger btn-default btn-sm" data-bs-dismiss="modal" >Cancelar</button>                                     
                                        <button type="submit" class="btn btn-sm btn-success" >Gravar</button>                                     
                                    </div>
                                </form>
                            </div>                             
                        </div>                         
                    </div>                     
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        <script src="myScripts/myJS.js"></script>
    </body>
</html>
