<!DOCTYPE html>
<html>
    <div th:fragment="cadastro" th:remove="tag">
        <div class="align-content-center modal" id="modalCadastro" tabindex="-1" data-pg-name="modal" aria-hidden="false"> 
            <div class="modal-dialog rounded rounded-3 shadow" data-pg-name="modalDialog"> 
                <div class="modal-content mw-100" data-pg-name="content" id="modalCadastroContent" > 
                    <div th:fragment="cadastroContent" data-pg-name="fragmentCadastroContent" th:remove="tag">
                        <div class="bg-success-subtle modal-header pb-0 pe-0 ps-2 pt-2" style="background-color: #f2eebb;" data-pg-name="header"> 
                            <h4 class="modal-title">Cadastro</h4> 
                        </div>             
                        <form th:action="@{/gravarCadastro}" 
                              th:if="${customerCadastro}"
                              onsubmit="submitCustomer(event)"
                              th:object="${customerCadastro}" 
                              method="post" id="formCadastro" >
                            <div class="bg-light modal-body p-2 d-flex flex-column text-start" data-pg-name="body">
                                <label class="mb-2 w-100 fs-7">Nome</label>
                                <input data-th-class="|${border} mb-2 w-100|" type="text" required="true" th:field="*{nome}" 
                                       data-th-disabled="${disabled}" data-th-readonly="${readonly}" >
                                <label class="mb-2 w-100 fs-7" th:classappend="${#fields.hasErrors('email')} ? 'fieldError' : ''">E-mail</label>
                                <input data-th-class="|${border} mb-2 w-100|" type="email" required="true" 
                                       th:field="*{email}" th:errorclass="fieldError" 
                                       data-th-disabled="${disabled}" data-th-readonly="${readonly}" >
                                <label class="mb-2 w-100 fs-7">Telefone</label>
                                <input data-th-class="|${border} mb-2 w-100 phoneMask|" type="text" required th:field="*{telefone}"  
                                       data-th-disabled="${disabled}" data-th-readonly="${readonly}" >
                                <div id="divSenha" th:class="${alteraSenha=='0'?'d-none':''}">
                                    <label class="mb-2 w-100 fs-7" th:classappend="${#fields.hasErrors('senha')} ? 'fieldError' : ''" >Senha (mínimo 4 letras e números misturados)</label>
                                    <input class="mb-2 w-100" type="password" 
                                           th:required="${id!=null}" th:field="*{senha}"  th:errorclass="fieldError" autocomplete="off">
                                    <label class="mb-2 w-100 fs-7" th:classappend="${#fields.hasErrors('senhaConf')} ? 'fieldError' : ''" >Repita a senha</label>
                                    <input class="mb-2 w-100" type="password" th:required="${id!=null}" th:field="*{senhaConf}" th:errorclass="fieldError" autocomplete="off">
                                </div>
                                <input type="hidden" th:field="*{id}" ></input>
                            </div>        
                            <div id="divBarra1"  th:unless="${#fields.hasErrors()}"
                                 class="bg-light p-0 m-0 mb-1 flex-nowrap d-flex justify-content-center"
                                 th:classappend="${(alteraSenha=='1' or edicao=='1')?'d-none':''}"
                                 data-pg-name="footer">
                                <div th:insert="~{fragments/components/botoes :: 
                                     botao(texto='Meus dados',
                                     fgcolor='text-white',
                                     onclick='editarCustomer(1)',
                                     imagem='bi-person',
                                     cor='btn-tonicblue')}" ></div>
                                <div th:insert="~{fragments/components/botoes :: 
                                     botao(texto='Senha',
                                     fgcolor='text-white',
                                     onclick='alterarSenha()',
                                     imagem='bi-key',
                                     cor='btn-tonicblue')}" ></div>
                                <div th:unless="${customerCadastro.id == null}">
                                    <div th:insert="~{fragments/components/botoes :: 
                                         botao(texto='Endereços',
                                         fgcolor='text-white',
                                         tipo='submit',
                                         onclick='toggleEnderecos()',
                                         imagem='bi-postcard',
                                         cor='btn-tonicblue')}" ></div>                                
                                </div>              
                            </div>              
                            <div class="bg-success-subtle modal-footer flex-row justify-content-center pt-2 pe-0 lh-1" data-pg-name="footer">
                                <div th:insert="~{fragments/components/botoes :: 
                                     botao(texto='Cancelar',
                                     fgcolor='text-white',
                                     tipo='button',
                                     imagem='bi-x-circle',
                                     cor='btn-salmon',
                                     dismiss='modal')}" ></div>
                                <div id="divGravar" class="m-0 p-0"
                                     th:classappend="${(alteraSenha=='0' and edicao=='0')?'d-none':''}">
                                    <div th:insert="~{fragments/components/botoes :: 
                                         botao(texto='Gravar',
                                         fgcolor='text-white',
                                         tipo='submit',
                                         imagem='bi-x-circle',
                                         cor='btn-darkseagreen')}" ></div>                            
                                </div>
                            </div>             
                            <div th:if="${#fields.hasErrors()}" 
                                 class="toast" id="toastErrosCadastro" 
                                 data-bs-delay="10000"
                                 style="position: absolute; top: 10px;">
                                <div class="toast-header">
                                    <strong class="me-auto"><i class="bi-x-circle"></i> Erros encontrados!</strong>
                                    <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
                                </div>
                                <div class="toast-body">
                                    <ul class="list-group">
                                        <div th:each="err : ${#fields.errors()}">
                                            <li th:unless="${err.isEmpty()}" class="list-group-item text-danger text-start fw-bold" >
                                                <span th:text="${err}"></span>
                                            </li>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </form>         
                    </div>         
                </div>         
            </div>     
        </div>
    </div>
</html>
