<!DOCTYPE html>
<html lang="en" xmlns:th="<http://www.thymeleaf.org>"> 
    <head>
        <title>RFS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-..." crossorigin="anonymous">
    </head>
    <body>
        <div th:fragment="carrinho" th:remove="tag">
            <div class="modal pe-2" id="modalCart" 
                 tabindex="-1" 
                 data-bs-backdrop="static"
                 aria-labelledby="modalCartLabel" >
                <div class="modal-dialog">
                    <div id="carrinhoContent">
                        <div th:fragment="carrinhoContentFragment" th:remove="tag">
                            <div class="modal-content" id="cartContent">
                                <div class="modal-header mt-0 mb-0 pt-0 pb-0">
                                    <h1 class="modal-title fs-5 text-center" id="modalCartLabel">Carrinho</h1>
                                    <hr>
                                </div>
                                <div id="cartItemsContent">
                                    <div class="modal-body mt-0 pt-0"  th:fragment="cartItems" >
                                        <div th:each="cartItem : ${cart}">
                                            <div th:replace="~{fragments/cartItem :: cartItem(${cartItem})}"></div>
                                            <hr>
                                        </div>
                                        <div class="modal-footer d-flex flex-nowrap m-0 p-0 ps-3">
                                            <div class="col-6 d-inline-flex gap-2 flex-column bg-success-subtle">
                                                <span class="fw-bolder fs-5">Total:</span>
                                                <span
                                                    class="fw-bolder fs-5"
                                                    th:text="${#numbers.formatCurrency(totalCarrinho)}">0.00</span>
                                            </div>
                                            <div class="col-6 d-inline-flex gap-2 flex-column">
                                                <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Cardápio</button>
                                                <button type="submit" class="btn btn-success btn-sm" data-bs-dismiss="modal">Pagamento</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-..." crossorigin="anonymous"></script>
    </body>
</html>
