<!DOCTYPE html>
<html lang="en" xmlns:th="<http://www.thymeleaf.org>"> 
    <head>
        <title>RFS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-..." crossorigin="anonymous">
    </head>
    <body>
        <div th:fragment="selecionado" th:remove="tag">
            <div class="modal pe-2 align-content-center " id="modalSelecionado" 
                 tabindex="-1" 
                 data-bs-backdrop="static"
                 aria-labelledby="modalSelecionadoLabel" >
                <div class="modal-dialog">
                    <div class="modal-content mw-100" data-pg-name="content"> 
                        <form th:action="@{/addCartItem}" method="POST">
                            <div class="bg-success-subtle modal-header pb-0 pe-0 ps-2 pt-2" style="background-color: #f2eebb;" data-pg-name="header"> 
                                <h1 class="modal-title fs-5">Item selecionado</h1> 
                            </div>     
                            <div class="bg-light modal-body p-2" data-pg-name="body">
                                <div class="col-12 m-0 p-0">
                                    <label class="fs-5 fw-bold mb-2 w-100 text-start" id="titlelabel">Item 1</label>
                                    <textarea class="border-0 mb-2 w-100" type="text" required="true" readonly 
                                              data-pg-name="textarea"
                                              id="description" name="description">Descrição</textarea>
                                </div>
                                <div class="col-12 d-flex flex-row justify-content-between m-0 p-0">
                                    <div class="align-content-between col-4 d-flex flex-column m-0 p-0 text-center">
                                        <label class="fs-5 fw-semibold">Quantidade</label>
                                        <div class="align-items-center col-4 
                                             d-flex flex-row justify-content-between 
                                             m-0 p-0 w-100">
                                            <button type="button" onclick="decreaseAmount()"
                                                    class="align-self-center 
                                                    bg-danger-subtle btn btn-light btn-outline-danger btn-sm 
                                                    d-flex flex-column fs-1 fw-bolder 
                                                    h-75 justify-content-center 
                                                    lh-1 pb-1 pe-2 ps-2 pt-0 text-danger">-</button>
                                            <label id="amountlabel" class="fs-4 fw-bolder text-end">12</label>
                                            <button type="button"  onclick="increaseAmount()"
                                                    class="align-self-center 
                                                    bg-success-subtle btn btn-light btn-outline-success btn-sm 
                                                    d-flex flex-column fs-1 fw-bolder 
                                                    h-75 justify-content-center 
                                                    lh-1 pb-1 pe-1 ps-1 pt-0 text-success">+</button>
                                        </div>
                                    </div>
                                    <div class="align-content-between col-4 d-flex flex-column justify-content-start m-0 p-0">
                                        <label class="fs-5 fw-semibold text-end">Preço</label>
                                        <input class="border-0 fs-4 fw-bolder mt-1 text-end" type="text" id="unitprice" name="unitprice" readonly/>
                                    </div>
                                    <div class="align-content-between col-4 d-flex flex-column justify-content-start m-0 p-0">
                                        <label class="fs-5 fw-semibold text-end">Total</label>
                                        <input class="border-0 fs-4 fw-bolder mt-1 text-end" type="text" id="calcprice" name="calcprice" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 m-0 p-0 px-1">
                                <label class="fs-5 fw-bold mb-2 w-100 text-start">Observações</label>
                                <textarea class="mb-2 w-100"
                                          id="observations" name="observations"
                                          data-pg-name="textarea"></textarea>
                            </div>
                            <input type="hidden" id="itemid" name="itemid" />
                            <input type="hidden" id="title" name="title" />
                            <input type="hidden" id="amount" name="amount" />
                            <div class="bg-success-subtle justify-content-end modal-footer pb-0 pe-0 ps-2 pt-2" data-pg-name="footer">
                                <div class="col-12 pb-2 pe-0 ps-0 pt-0 text-end">
                                    <div th:replace="~{fragments/components/botoes :: 
                                         botao(texto='Cancelar',imagem='bi-x-circle',cor='btn-danger',onclick='voltarTela(\'modalSelecionado\')',
                                         dismiss='modal')}"></div>
                                    <div th:replace="~{fragments/components/botoes :: 
                                         botao(tipo='submit',texto='Adicionar',imagem='bi-person-add',cor='btn-success')}"></div>
                                </div>         
                            </div>     
                        </form>
                    </div>                    
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-..." crossorigin="anonymous"></script>
    </body>
</html>
