/* 
    Created on : 7 de dez. de 2025, 15:54:02
    Author     : Roselito
*/
.no-decoration {
    text-decoration: none !important;
}
.text-justify {
    text-align: justify;
}

.text-truncate-3-lines {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limits text to 3 lines */
    -webkit-box-orient: vertical;
}

textarea {
  field-sizing: content; 
}