<!DOCTYPE html>
<html> 
    <body>
        <div th:fragment="cartao(itemCartao)" th:remove="tag">
            <a th:href="modalSelecionado" class="no-decoration" data-bs-toggle="modal" data-bs-target="#modalSelecionado"
               th:data-title="${itemCartao.title}"
               th:data-description="${itemCartao.description}"
               th:data-amount="1"
               th:data-unitprice="${itemCartao.price}"
               th:data-calcprice="${itemCartao.price}"
               th:data-itemid="${itemCartao.id}"
               >
                <div class="card mw-100 p-0 rounded rounded-3 shadow">
                    <div class="m-0 mw-100 p-0 row">

                        <div class="align-content-center col-4 m-0 mw-100 p-1">
                            <img class="card-img-top h-100 m-0 rounded" src="/images/mandala09.jpg" alt="Imagem">
                        </div>

                        <div class="col-8 card-body 
                             m-0 mw-100 p-0
                             d-flex flex-column"> 
                            <h6 th:text="${{itemCartao.title}}" 
                                class="row bg-warning-subtle card-subtitle 
                                fw-bold rounded rounded-2
                                my-1 ms-0 me-1 mw-100 p-0 
                                text-success">Card subtitle</h6> 
                            <label th:text="${itemCartao.description}"
                                   class="row card-text lh-1 
                                   m-0 me-2
                                   text-justify text-truncate-3-lines">Descrição</label>                     
                            <label th:text="${{itemCartao.price}}" 
                                   class="row d-flex fw-bold justify-content-end
                                   m-0 mt-auto me-2 p-0 
                                   text-success">Preço</label>
                        </div>

                    </div>
                </div>
            </a>
        </div>
    </body>
</html>
