<!DOCTYPE html>
<html lang="en" xmlns:th="<http://www.thymeleaf.org>"> 
    <head>
        <title>RFS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-..." crossorigin="anonymous">
    </head>
    <body>
        <div th:fragment="cartao(itemCartao)">
            <a th:href="modalSelecionado" class="no-decoration" data-bs-toggle="modal" data-bs-target="#modalSelecionado"
               th:data-title="${itemCartao.title}"
               th:data-description="${itemCartao.description}"
               th:data-amount="1"
               th:data-unitprice="${itemCartao.price}"
               th:data-calcprice="${itemCartao.price}"
               th:data-itemid="${itemCartao.id}"
               >
                <div class="card rounded-3 m-1 shadow">
                    <div class="row row-cols-2 m-0">
                        <div class="col-4 m-0 p-0">
                            <img class="img-fluid h-100 rounded-start-3" src="/images/mandala09.jpg" />
                        </div>
                        <div class="col-8">
                            <div class="row row-cols-sm-1 row-cols-md-2 h-100">
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="d-flex col-12 align-self-start text-center fw-bold p-1">
                                            <span class="w-100 bg-primary-subtle border border-primary-subtle rounded-3" th:text="${{itemCartao.title}}">Título</span>
                                        </div>
                                        <div class="col-12 align-self-start text-justify text-truncate-3-lines">
                                            <span th:text="${itemCartao.description}">Descrição</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 align-self-end text-end">
                                    <span class="text-secondary fw-bold" th:text="${{itemCartao.price}}">Preço</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-..." crossorigin="anonymous"></script>
    </body>
</html>
