<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> 
    <head>
        <title>RFS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" 
              integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous"></link>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"></link>
        <link rel="stylesheet" href="myScripts/myCSS.css"></link>
        <link rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.css" />
    </head>
    <body>
        <form>
            <h1><a href="/catalog">Catálogo</a></h1>
            <h2 th:text="${mensagem}">Mensagem vinda do backend</h2>
            <div id="firebaseui-auth-container"></div>
            <div class="btn-sm fs-7">
                <button class='btn btn-black m-1'>XXXX</button><button class='btn btn-black m-1 text-white'>XXXX</button><span>btn-black #000000</span><br/>
                <button class='btn btn-grey11 m-1'>XXXX</button><button class='btn btn-grey11 m-1 text-white'>XXXX</button><span>btn-grey11 #1C1C1C</span><br/>
                <button class='btn btn-grey21 m-1'>XXXX</button><button class='btn btn-grey21 m-1 text-white'>XXXX</button><span>btn-grey21 #363636</span><br/>
                <button class='btn btn-grey31 m-1'>XXXX</button><button class='btn btn-grey31 m-1 text-white'>XXXX</button><span>btn-grey31 #4F4F4F</span><br/>
                <button class='btn btn-dimgray m-1'>XXXX</button><button class='btn btn-dimgray m-1 text-white'>XXXX</button><span>btn-dimgray #696969</span><br/>
                <button class='btn btn-gray m-1'>XXXX</button><button class='btn btn-gray m-1 text-white'>XXXX</button><span>btn-gray #808080</span><br/>
                <button class='btn btn-darkgray m-1'>XXXX</button><button class='btn btn-darkgray m-1 text-white'>XXXX</button><span>btn-darkgray #A9A9A9</span><br/>
                <button class='btn btn-silver m-1'>XXXX</button><button class='btn btn-silver m-1 text-white'>XXXX</button><span>btn-silver #C0C0C0</span><br/>
                <button class='btn btn-lightgrey m-1'>XXXX</button><button class='btn btn-lightgrey m-1 text-white'>XXXX</button><span>btn-lightgrey #D3D3D3</span><br/>
                <button class='btn btn-gainsboro m-1'>XXXX</button><button class='btn btn-gainsboro m-1 text-white'>XXXX</button><span>btn-gainsboro #DCDCDC</span><br/>
                <button class='btn btn-slateblue m-1'>XXXX</button><button class='btn btn-slateblue m-1 text-white'>XXXX</button><span>btn-slateblue #6A5ACD</span><br/>
                <button class='btn btn-slateblue1 m-1'>XXXX</button><button class='btn btn-slateblue1 m-1 text-white'>XXXX</button><span>btn-slateblue1 #836FFF</span><br/>
                <button class='btn btn-slateblue3 m-1'>XXXX</button><button class='btn btn-slateblue3 m-1 text-white'>XXXX</button><span>btn-slateblue3 #6959CD</span><br/>
                <button class='btn btn-tonicblue m-1'>XXXX</button><button class='btn btn-tonicblue m-1 text-white'>XXXX</button><span>btn-tonicblue #5d5a91</span><br/>
                <button class='btn btn-darkslateblue m-1'>XXXX</button><button class='btn btn-darkslateblue m-1 text-white'>XXXX</button><span>btn-darkslateblue #483D8B</span><br/>
                <button class='btn btn-midnightblue m-1'>XXXX</button><button class='btn btn-midnightblue m-1 text-white'>XXXX</button><span>btn-midnightblue #191970</span><br/>
                <button class='btn btn-navy m-1'>XXXX</button><button class='btn btn-navy m-1 text-white'>XXXX</button><span>btn-navy #000080</span><br/>
                <button class='btn btn-darkblue m-1'>XXXX</button><button class='btn btn-darkblue m-1 text-white'>XXXX</button><span>btn-darkblue #00008B</span><br/>
                <button class='btn btn-mediumblue m-1'>XXXX</button><button class='btn btn-mediumblue m-1 text-white'>XXXX</button><span>btn-mediumblue #0000CD</span><br/>
                <button class='btn btn-blue m-1'>XXXX</button><button class='btn btn-blue m-1 text-white'>XXXX</button><span>btn-blue #0000FF</span><br/>
                <button class='btn btn-cornflowerblue m-1'>XXXX</button><button class='btn btn-cornflowerblue m-1 text-white'>XXXX</button><span>btn-cornflowerblue #6495ED</span><br/>
                <button class='btn btn-royalblue m-1'>XXXX</button><button class='btn btn-royalblue m-1 text-white'>XXXX</button><span>btn-royalblue #4169E1</span><br/>
                <button class='btn btn-dodgerblue m-1'>XXXX</button><button class='btn btn-dodgerblue m-1 text-white'>XXXX</button><span>btn-dodgerblue #1E90FF</span><br/>
                <button class='btn btn-deepskyblue m-1'>XXXX</button><button class='btn btn-deepskyblue m-1 text-white'>XXXX</button><span>btn-deepskyblue #00BFFF</span><br/>
                <button class='btn btn-lightskyblue m-1'>XXXX</button><button class='btn btn-lightskyblue m-1 text-white'>XXXX</button><span>btn-lightskyblue #87CEFA</span><br/>
                <button class='btn btn-skyblue m-1'>XXXX</button><button class='btn btn-skyblue m-1 text-white'>XXXX</button><span>btn-skyblue #87CEEB</span><br/>
                <button class='btn btn-lightblue m-1'>XXXX</button><button class='btn btn-lightblue m-1 text-white'>XXXX</button><span>btn-lightblue #ADD8E6</span><br/>
                <button class='btn btn-steelblue m-1'>XXXX</button><button class='btn btn-steelblue m-1 text-white'>XXXX</button><span>btn-steelblue #4682B4</span><br/>
                <button class='btn btn-lightsteelblue m-1'>XXXX</button><button class='btn btn-lightsteelblue m-1 text-white'>XXXX</button><span>btn-lightsteelblue #B0C4DE</span><br/>
                <button class='btn btn-slategray m-1'>XXXX</button><button class='btn btn-slategray m-1 text-white'>XXXX</button><span>btn-slategray #708090</span><br/>
                <button class='btn btn-lightslategray m-1'>XXXX</button><button class='btn btn-lightslategray m-1 text-white'>XXXX</button><span>btn-lightslategray #778899</span><br/>
                <button class='btn btn-aqua m-1'>XXXX</button><button class='btn btn-aqua m-1 text-white'>XXXX</button><span>btn-aqua #00FFFF</span><br/>
                <button class='btn btn-darkturquoise m-1'>XXXX</button><button class='btn btn-darkturquoise m-1 text-white'>XXXX</button><span>btn-darkturquoise #00CED1</span><br/>
                <button class='btn btn-turquoise m-1'>XXXX</button><button class='btn btn-turquoise m-1 text-white'>XXXX</button><span>btn-turquoise #40E0D0</span><br/>
                <button class='btn btn-mediumturquoise m-1'>XXXX</button><button class='btn btn-mediumturquoise m-1 text-white'>XXXX</button><span>btn-mediumturquoise #48D1CC</span><br/>
                <button class='btn btn-lightseagreen m-1'>XXXX</button><button class='btn btn-lightseagreen m-1 text-white'>XXXX</button><span>btn-lightseagreen #20B2AA</span><br/>
                <button class='btn btn-darkcyan m-1'>XXXX</button><button class='btn btn-darkcyan m-1 text-white'>XXXX</button><span>btn-darkcyan #008B8B</span><br/>
                <button class='btn btn-teal m-1'>XXXX</button><button class='btn btn-teal m-1 text-white'>XXXX</button><span>btn-teal #008080</span><br/>
                <button class='btn btn-aquamarine m-1'>XXXX</button><button class='btn btn-aquamarine m-1 text-white'>XXXX</button><span>btn-aquamarine #7FFFD4</span><br/>
                <button class='btn btn-mediumaquamarine m-1'>XXXX</button><button class='btn btn-mediumaquamarine m-1 text-white'>XXXX</button><span>btn-mediumaquamarine #66CDAA</span><br/>
                <button class='btn btn-cadetblue m-1'>XXXX</button><button class='btn btn-cadetblue m-1 text-white'>XXXX</button><span>btn-cadetblue #5F9EA0</span><br/>
                <button class='btn btn-darkslategray m-1'>XXXX</button><button class='btn btn-darkslategray m-1 text-white'>XXXX</button><span>btn-darkslategray #2F4F4F</span><br/>
                <button class='btn btn-mediumspringgreen m-1'>XXXX</button><button class='btn btn-mediumspringgreen m-1 text-white'>XXXX</button><span>btn-mediumspringgreen #00FA9A</span><br/>
                <button class='btn btn-springgreen m-1'>XXXX</button><button class='btn btn-springgreen m-1 text-white'>XXXX</button><span>btn-springgreen #00FF7F</span><br/>
                <button class='btn btn-palegreen m-1'>XXXX</button><button class='btn btn-palegreen m-1 text-white'>XXXX</button><span>btn-palegreen #98FB98</span><br/>
                <button class='btn btn-lightgreen m-1'>XXXX</button><button class='btn btn-lightgreen m-1 text-white'>XXXX</button><span>btn-lightgreen #90EE90</span><br/>
                <button class='btn btn-darkseagreen m-1'>XXXX</button><button class='btn btn-darkseagreen m-1 text-white'>XXXX</button><span>btn-darkseagreen #8FBC8F</span><br/>
                <button class='btn btn-mediumseagreen m-1'>XXXX</button><button class='btn btn-mediumseagreen m-1 text-white'>XXXX</button><span>btn-mediumseagreen #3CB371</span><br/>
                <button class='btn btn-seagreen m-1'>XXXX</button><button class='btn btn-seagreen m-1 text-white'>XXXX</button><span>btn-seagreen #2E8B57</span><br/>
                <button class='btn btn-darkgreen m-1'>XXXX</button><button class='btn btn-darkgreen m-1 text-white'>XXXX</button><span>btn-darkgreen #006400</span><br/>
                <button class='btn btn-green m-1'>XXXX</button><button class='btn btn-green m-1 text-white'>XXXX</button><span>btn-green #008000</span><br/>
                <button class='btn btn-forestgreen m-1'>XXXX</button><button class='btn btn-forestgreen m-1 text-white'>XXXX</button><span>btn-forestgreen #228B22</span><br/>
                <button class='btn btn-limegreen m-1'>XXXX</button><button class='btn btn-limegreen m-1 text-white'>XXXX</button><span>btn-limegreen #32CD32</span><br/>
                <button class='btn btn-lime m-1'>XXXX</button><button class='btn btn-lime m-1 text-white'>XXXX</button><span>btn-lime #00FF00</span><br/>
                <button class='btn btn-lawngreen m-1'>XXXX</button><button class='btn btn-lawngreen m-1 text-white'>XXXX</button><span>btn-lawngreen #7CFC00</span><br/>
                <button class='btn btn-chartreuse m-1'>XXXX</button><button class='btn btn-chartreuse m-1 text-white'>XXXX</button><span>btn-chartreuse #7FFF00</span><br/>
                <button class='btn btn-greenyellow m-1'>XXXX</button><button class='btn btn-greenyellow m-1 text-white'>XXXX</button><span>btn-greenyellow #ADFF2F</span><br/>
                <button class='btn btn-yellowgreen m-1'>XXXX</button><button class='btn btn-yellowgreen m-1 text-white'>XXXX</button><span>btn-yellowgreen #9ACD32</span><br/>
                <button class='btn btn-olivedrab m-1'>XXXX</button><button class='btn btn-olivedrab m-1 text-white'>XXXX</button><span>btn-olivedrab #6B8E23</span><br/>
                <button class='btn btn-darkolivegreen m-1'>XXXX</button><button class='btn btn-darkolivegreen m-1 text-white'>XXXX</button><span>btn-darkolivegreen #556B2F</span><br/>
                <button class='btn btn-olive m-1'>XXXX</button><button class='btn btn-olive m-1 text-white'>XXXX</button><span>btn-olive #808000</span><br/>
                <button class='btn btn-darkkhaki m-1'>XXXX</button><button class='btn btn-darkkhaki m-1 text-white'>XXXX</button><span>btn-darkkhaki #BDB76B</span><br/>
                <button class='btn btn-goldenrod m-1'>XXXX</button><button class='btn btn-goldenrod m-1 text-white'>XXXX</button><span>btn-goldenrod #DAA520</span><br/>
                <button class='btn btn-darkgoldenrod m-1'>XXXX</button><button class='btn btn-darkgoldenrod m-1 text-white'>XXXX</button><span>btn-darkgoldenrod #B8860B</span><br/>
                <button class='btn btn-saddlebrown m-1'>XXXX</button><button class='btn btn-saddlebrown m-1 text-white'>XXXX</button><span>btn-saddlebrown #8B4513</span><br/>
                <button class='btn btn-sienna m-1'>XXXX</button><button class='btn btn-sienna m-1 text-white'>XXXX</button><span>btn-sienna #A0522D</span><br/>
                <button class='btn btn-rosybrown m-1'>XXXX</button><button class='btn btn-rosybrown m-1 text-white'>XXXX</button><span>btn-rosybrown #BC8F8F</span><br/>
                <button class='btn btn-peru m-1'>XXXX</button><button class='btn btn-peru m-1 text-white'>XXXX</button><span>btn-peru #CD853F</span><br/>
                <button class='btn btn-chocolate m-1'>XXXX</button><button class='btn btn-chocolate m-1 text-white'>XXXX</button><span>btn-chocolate #D2691E</span><br/>
                <button class='btn btn-sandybrown m-1'>XXXX</button><button class='btn btn-sandybrown m-1 text-white'>XXXX</button><span>btn-sandybrown #F4A460</span><br/>
                <button class='btn btn-navajowhite m-1'>XXXX</button><button class='btn btn-navajowhite m-1 text-white'>XXXX</button><span>btn-navajowhite #FFDEAD</span><br/>
                <button class='btn btn-wheat m-1'>XXXX</button><button class='btn btn-wheat m-1 text-white'>XXXX</button><span>btn-wheat #F5DEB3</span><br/>
                <button class='btn btn-burlywood m-1'>XXXX</button><button class='btn btn-burlywood m-1 text-white'>XXXX</button><span>btn-burlywood #DEB887</span><br/>
                <button class='btn btn-tan m-1'>XXXX</button><button class='btn btn-tan m-1 text-white'>XXXX</button><span>btn-tan #D2B48C</span><br/>
                <button class='btn btn-mediumslateblue m-1'>XXXX</button><button class='btn btn-mediumslateblue m-1 text-white'>XXXX</button><span>btn-mediumslateblue #7B68EE</span><br/>
                <button class='btn btn-tonicblue m-1'>XXXX</button><button class='btn btn-tonicblue m-1 text-white'>XXXX</button><span>btn-tonicblue #9370DB</span><br/>
                <button class='btn btn-blueviolet m-1'>XXXX</button><button class='btn btn-blueviolet m-1 text-white'>XXXX</button><span>btn-blueviolet #8A2BE2</span><br/>
                <button class='btn btn-indigo m-1'>XXXX</button><button class='btn btn-indigo m-1 text-white'>XXXX</button><span>btn-indigo #4B0082</span><br/>
                <button class='btn btn-darkviolet m-1'>XXXX</button><button class='btn btn-darkviolet m-1 text-white'>XXXX</button><span>btn-darkviolet #9400D3</span><br/>
                <button class='btn btn-darkorchid m-1'>XXXX</button><button class='btn btn-darkorchid m-1 text-white'>XXXX</button><span>btn-darkorchid #9932CC</span><br/>
                <button class='btn btn-mediumorchid m-1'>XXXX</button><button class='btn btn-mediumorchid m-1 text-white'>XXXX</button><span>btn-mediumorchid #BA55D3</span><br/>
                <button class='btn btn-purple m-1'>XXXX</button><button class='btn btn-purple m-1 text-white'>XXXX</button><span>btn-purple #A020F0</span><br/>
                <button class='btn btn-darkmagenta m-1'>XXXX</button><button class='btn btn-darkmagenta m-1 text-white'>XXXX</button><span>btn-darkmagenta #8B008B</span><br/>
                <button class='btn btn-fuchsia m-1'>XXXX</button><button class='btn btn-fuchsia m-1 text-white'>XXXX</button><span>btn-fuchsia #FF00FF</span><br/>
                <button class='btn btn-violet m-1'>XXXX</button><button class='btn btn-violet m-1 text-white'>XXXX</button><span>btn-violet #EE82EE</span><br/>
                <button class='btn btn-orchid m-1'>XXXX</button><button class='btn btn-orchid m-1 text-white'>XXXX</button><span>btn-orchid #DA70D6</span><br/>
                <button class='btn btn-plum m-1'>XXXX</button><button class='btn btn-plum m-1 text-white'>XXXX</button><span>btn-plum #DDA0DD</span><br/>
                <button class='btn btn-mediumvioletred m-1'>XXXX</button><button class='btn btn-mediumvioletred m-1 text-white'>XXXX</button><span>btn-mediumvioletred #C71585</span><br/>
                <button class='btn btn-deeppink m-1'>XXXX</button><button class='btn btn-deeppink m-1 text-white'>XXXX</button><span>btn-deeppink #FF1493</span><br/>
                <button class='btn btn-hotpink m-1'>XXXX</button><button class='btn btn-hotpink m-1 text-white'>XXXX</button><span>btn-hotpink #FF69B4</span><br/>
                <button class='btn btn-palevioletred m-1'>XXXX</button><button class='btn btn-palevioletred m-1 text-white'>XXXX</button><span>btn-palevioletred #DB7093</span><br/>
                <button class='btn btn-lightpink m-1'>XXXX</button><button class='btn btn-lightpink m-1 text-white'>XXXX</button><span>btn-lightpink #FFB6C1</span><br/>
                <button class='btn btn-pink m-1'>XXXX</button><button class='btn btn-pink m-1 text-white'>XXXX</button><span>btn-pink #FFC0CB</span><br/>
                <button class='btn btn-lightcoral m-1'>XXXX</button><button class='btn btn-lightcoral m-1 text-white'>XXXX</button><span>btn-lightcoral #F08080</span><br/>
                <button class='btn btn-indianred m-1'>XXXX</button><button class='btn btn-indianred m-1 text-white'>XXXX</button><span>btn-indianred #CD5C5C</span><br/>
                <button class='btn btn-crimson m-1'>XXXX</button><button class='btn btn-crimson m-1 text-white'>XXXX</button><span>btn-crimson #DC143C</span><br/>
                <button class='btn btn-maroon m-1'>XXXX</button><button class='btn btn-maroon m-1 text-white'>XXXX</button><span>btn-maroon #800000</span><br/>
                <button class='btn btn-darkred m-1'>XXXX</button><button class='btn btn-darkred m-1 text-white'>XXXX</button><span>btn-darkred #8B0000</span><br/>
                <button class='btn btn-firebrick m-1'>XXXX</button><button class='btn btn-firebrick m-1 text-white'>XXXX</button><span>btn-firebrick #B22222</span><br/>
                <button class='btn btn-brown m-1'>XXXX</button><button class='btn btn-brown m-1 text-white'>XXXX</button><span>btn-brown #A52A2A</span><br/>
                <button class='btn btn-salmon m-1'>XXXX</button><button class='btn btn-salmon m-1 text-white'>XXXX</button><span>btn-salmon #FA8072</span><br/>
                <button class='btn btn-darksalmon m-1'>XXXX</button><button class='btn btn-darksalmon m-1 text-white'>XXXX</button><span>btn-darksalmon #E9967A</span><br/>
                <button class='btn btn-lightsalmon m-1'>XXXX</button><button class='btn btn-lightsalmon m-1 text-white'>XXXX</button><span>btn-lightsalmon #FFA07A</span><br/>
                <button class='btn btn-coral m-1'>XXXX</button><button class='btn btn-coral m-1 text-white'>XXXX</button><span>btn-coral #FF7F50</span><br/>
                <button class='btn btn-tomato m-1'>XXXX</button><button class='btn btn-tomato m-1 text-white'>XXXX</button><span>btn-tomato #FF6347</span><br/>
                <button class='btn btn-red m-1'>XXXX</button><button class='btn btn-red m-1 text-white'>XXXX</button><span>btn-red #FF0000</span><br/>
                <button class='btn btn-orangered m-1'>XXXX</button><button class='btn btn-orangered m-1 text-white'>XXXX</button><span>btn-orangered #FF4500</span><br/>
                <button class='btn btn-darkorange m-1'>XXXX</button><button class='btn btn-darkorange m-1 text-white'>XXXX</button><span>btn-darkorange #FF8C00</span><br/>
                <button class='btn btn-orange m-1'>XXXX</button><button class='btn btn-orange m-1 text-white'>XXXX</button><span>btn-orange #FFA500</span><br/>
                <button class='btn btn-gold m-1'>XXXX</button><button class='btn btn-gold m-1 text-white'>XXXX</button><span>btn-gold #FFD700</span><br/>
                <button class='btn btn-yellow m-1'>XXXX</button><button class='btn btn-yellow m-1 text-white'>XXXX</button><span>btn-yellow #FFFF00</span><br/>
                <button class='btn btn-khaki m-1'>XXXX</button><button class='btn btn-khaki m-1 text-white'>XXXX</button><span>btn-khaki #F0E68C</span><br/>
                <button class='btn btn-aliceblue m-1'>XXXX</button><button class='btn btn-aliceblue m-1 text-white'>XXXX</button><span>btn-aliceblue #F0F8FF</span><br/>
                <button class='btn btn-ghostwhite m-1'>XXXX</button><button class='btn btn-ghostwhite m-1 text-white'>XXXX</button><span>btn-ghostwhite #F8F8FF</span><br/>
                <button class='btn btn-snow m-1'>XXXX</button><button class='btn btn-snow m-1 text-white'>XXXX</button><span>btn-snow #FFFAFA</span><br/>
                <button class='btn btn-seashell m-1'>XXXX</button><button class='btn btn-seashell m-1 text-white'>XXXX</button><span>btn-seashell #FFF5EE</span><br/>
                <button class='btn btn-floralwhite m-1'>XXXX</button><button class='btn btn-floralwhite m-1 text-white'>XXXX</button><span>btn-floralwhite #FFFAF0</span><br/>
                <button class='btn btn-whitesmoke m-1'>XXXX</button><button class='btn btn-whitesmoke m-1 text-white'>XXXX</button><span>btn-whitesmoke #F5F5F5</span><br/>
                <button class='btn btn-beige m-1'>XXXX</button><button class='btn btn-beige m-1 text-white'>XXXX</button><span>btn-beige #F5F5DC</span><br/>
                <button class='btn btn-oldlace m-1'>XXXX</button><button class='btn btn-oldlace m-1 text-white'>XXXX</button><span>btn-oldlace #FDF5E6</span><br/>
                <button class='btn btn-ivory m-1'>XXXX</button><button class='btn btn-ivory m-1 text-white'>XXXX</button><span>btn-ivory #FFFFF0</span><br/>
                <button class='btn btn-linen m-1'>XXXX</button><button class='btn btn-linen m-1 text-white'>XXXX</button><span>btn-linen #FAF0E6</span><br/>
                <button class='btn btn-cornsilk m-1'>XXXX</button><button class='btn btn-cornsilk m-1 text-white'>XXXX</button><span>btn-cornsilk #FFF8DC</span><br/>
                <button class='btn btn-antiquewhite m-1'>XXXX</button><button class='btn btn-antiquewhite m-1 text-white'>XXXX</button><span>btn-antiquewhite #FAEBD7</span><br/>
                <button class='btn btn-blanchedalmond m-1'>XXXX</button><button class='btn btn-blanchedalmond m-1 text-white'>XXXX</button><span>btn-blanchedalmond #FFEBCD</span><br/>
                <button class='btn btn-bisque m-1'>XXXX</button><button class='btn btn-bisque m-1 text-white'>XXXX</button><span>btn-bisque #FFE4C4</span><br/>
                <button class='btn btn-lightyellow m-1'>XXXX</button><button class='btn btn-lightyellow m-1 text-white'>XXXX</button><span>btn-lightyellow #FFFFE0</span><br/>
                <button class='btn btn-lemonchiffon m-1'>XXXX</button><button class='btn btn-lemonchiffon m-1 text-white'>XXXX</button><span>btn-lemonchiffon #FFFACD</span><br/>
                <button class='btn btn-lightgoldenrodyellow m-1'>XXXX</button><button class='btn btn-lightgoldenrodyellow m-1 text-white'>XXXX</button><span>btn-lightgoldenrodyellow #FAFAD2</span><br/>
                <button class='btn btn-papayawhip m-1'>XXXX</button><button class='btn btn-papayawhip m-1 text-white'>XXXX</button><span>btn-papayawhip #FFEFD5</span><br/>
                <button class='btn btn-peachpuff m-1'>XXXX</button><button class='btn btn-peachpuff m-1 text-white'>XXXX</button><span>btn-peachpuff #FFDAB9</span><br/>
                <button class='btn btn-moccasin m-1'>XXXX</button><button class='btn btn-moccasin m-1 text-white'>XXXX</button><span>btn-moccasin #FFE4B5</span><br/>
                <button class='btn btn-palegoldenrod m-1'>XXXX</button><button class='btn btn-palegoldenrod m-1 text-white'>XXXX</button><span>btn-palegoldenrod #EEE8AA</span><br/>
                <button class='btn btn-mistyrose m-1'>XXXX</button><button class='btn btn-mistyrose m-1 text-white'>XXXX</button><span>btn-mistyrose #FFE4E1</span><br/>
                <button class='btn btn-lavenderblush m-1'>XXXX</button><button class='btn btn-lavenderblush m-1 text-white'>XXXX</button><span>btn-lavenderblush #FFF0F5</span><br/>
                <button class='btn btn-lavender m-1'>XXXX</button><button class='btn btn-lavender m-1 text-white'>XXXX</button><span>btn-lavender #E6E6FA</span><br/>
                <button class='btn btn-thistle m-1'>XXXX</button><button class='btn btn-thistle m-1 text-white'>XXXX</button><span>btn-thistle #D8BFD8</span><br/>
                <button class='btn btn-azure m-1'>XXXX</button><button class='btn btn-azure m-1 text-white'>XXXX</button><span>btn-azure #F0FFFF</span><br/>
                <button class='btn btn-lightcyan m-1'>XXXX</button><button class='btn btn-lightcyan m-1 text-white'>XXXX</button><span>btn-lightcyan #E0FFFF</span><br/>
                <button class='btn btn-powderblue m-1'>XXXX</button><button class='btn btn-powderblue m-1 text-white'>XXXX</button><span>btn-powderblue #B0E0E6</span><br/>
                <button class='btn btn-paleturquoise m-1'>XXXX</button><button class='btn btn-paleturquoise m-1 text-white'>XXXX</button><span>btn-paleturquoise #E0FFFF</span><br/>
                <button class='btn btn-honeydew m-1'>XXXX</button><button class='btn btn-honeydew m-1 text-white'>XXXX</button><span>btn-honeydew #F0FFF0</span><br/>
                <button class='btn btn-darkpalegreen m-1'>XXXX</button><button class='btn btn-darkpalegreen m-1 text-white'>XXXX</button><span>btn-darkpalegreen #d1e7dd</span><br/>
                <button class='btn btn-mintcream m-1'>XXXX</button><button class='btn btn-mintcream m-1 text-white'>XXXX</button><span>btn-mintcream #F5FFFA</span><br/>
                <div class="toast" data-bs-delay="10000"
                     style="position: absolute; top: 3.5rem;" id="messageToast">
                    <div class="toast-header">
                        <img src="/images/ic_launcher.png" class="rounded me-2" alt="...">
                            <strong class="me-auto" id="messageTitle">Atenção!</strong>
                            <small>11 mins ago</small>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        <span id="messageBody">Nova notificação.</span>
                    </div>
                </div>
            </div>
        </form>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" 
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" 
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="https://www.gstatic.com/firebasejs/9.6.1/firebase-app-compat.js"></script>
        <script src="https://www.gstatic.com/firebasejs/9.6.1/firebase-auth-compat.js"></script>
        <script src="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth__pt_br.js"></script>
        <script src="/myScripts/index.js" ></script>
    </body>
</html>
