<!DOCTYPE html>
<html xmlns:th="<http://www.thymeleaf.org>"> 
    <head>
        <title>RFS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous"></link>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"></link>
        <link rel="stylesheet" href="myScripts/myCSS.css"></link>
    </head>
    <body>

        <h1><a href="/catalog">Catálogo</a></h1>
        <h2 th:text="${mensagem}">Mensagem vinda do backend</h2>
        <div class="btn-sm fs-7">
            <button class='btn btn-black m-1 m-1'>XXX</button><span>btn-black</span><br/>
            <button class='btn btn-grey11 m-1'>XXX</button><span>btn-grey11</span><br/>
            <button class='btn btn-grey21 m-1'>XXX</button><span>btn-grey21</span><br/>
            <button class='btn btn-grey31 m-1'>XXX</button><span>btn-grey31</span><br/>
            <button class='btn btn-dimgray m-1'>XXX</button><span>btn-dimgray</span><br/>
            <button class='btn btn-gray m-1'>XXX</button><span>btn-gray</span><br/>
            <button class='btn btn-darkgray m-1'>XXX</button><span>btn-darkgray</span><br/>
            <button class='btn btn-silver m-1'>XXX</button><span>btn-silver</span><br/>
            <button class='btn btn-lightgrey m-1'>XXX</button><span>btn-lightgrey</span><br/>
            <button class='btn btn-gainsboro m-1'>XXX</button><span>btn-gainsboro</span><br/>
            <button class='btn btn-slateblue m-1'>XXX</button><span>btn-slateblue</span><br/>
            <button class='btn btn-slateblue1 m-1'>XXX</button><span>btn-slateblue1</span><br/>
            <button class='btn btn-slateblue3 m-1'>XXX</button><span>btn-slateblue3</span><br/>
            <button class='btn btn-darkslateblue m-1'>XXX</button><span>btn-darkslateblue</span><br/>
            <button class='btn btn-midnightblue m-1'>XXX</button><span>btn-midnightblue</span><br/>
            <button class='btn btn-navy m-1'>XXX</button><span>btn-navy</span><br/>
            <button class='btn btn-darkblue m-1'>XXX</button><span>btn-darkblue</span><br/>
            <button class='btn btn-mediumblue m-1'>XXX</button><span>btn-mediumblue</span><br/>
            <button class='btn btn-blue m-1'>XXX</button><span>btn-blue</span><br/>
            <button class='btn btn-cornflowerblue m-1'>XXX</button><span>btn-cornflowerblue</span><br/>
            <button class='btn btn-royalblue m-1'>XXX</button><span>btn-royalblue</span><br/>
            <button class='btn btn-dodgerblue m-1'>XXX</button><span>btn-dodgerblue</span><br/>
            <button class='btn btn-deepskyblue m-1'>XXX</button><span>btn-deepskyblue</span><br/>
            <button class='btn btn-lightskyblue m-1'>XXX</button><span>btn-lightskyblue</span><br/>
            <button class='btn btn-skyblue m-1'>XXX</button><span>btn-skyblue</span><br/>
            <button class='btn btn-lightblue m-1'>XXX</button><span>btn-lightblue</span><br/>
            <button class='btn btn-steelblue m-1'>XXX</button><span>btn-steelblue</span><br/>
            <button class='btn btn-lightsteelblue m-1'>XXX</button><span>btn-lightsteelblue</span><br/>
            <button class='btn btn-slategray m-1'>XXX</button><span>btn-slategray</span><br/>
            <button class='btn btn-lightslategray m-1'>XXX</button><span>btn-lightslategray</span><br/>
            <button class='btn btn-aqua m-1'>XXX</button><span>btn-aqua</span><br/>
            <button class='btn btn-darkturquoise m-1'>XXX</button><span>btn-darkturquoise</span><br/>
            <button class='btn btn-turquoise m-1'>XXX</button><span>btn-turquoise</span><br/>
            <button class='btn btn-mediumturquoise m-1'>XXX</button><span>btn-mediumturquoise</span><br/>
            <button class='btn btn-lightseagreen m-1'>XXX</button><span>btn-lightseagreen</span><br/>
            <button class='btn btn-darkcyan m-1'>XXX</button><span>btn-darkcyan</span><br/>
            <button class='btn btn-teal m-1'>XXX</button><span>btn-teal</span><br/>
            <button class='btn btn-aquamarine m-1'>XXX</button><span>btn-aquamarine</span><br/>
            <button class='btn btn-mediumaquamarine m-1'>XXX</button><span>btn-mediumaquamarine</span><br/>
            <button class='btn btn-cadetblue m-1'>XXX</button><span>btn-cadetblue</span><br/>
            <button class='btn btn-darkslategray m-1'>XXX</button><span>btn-darkslategray</span><br/>
            <button class='btn btn-mediumspringgreen m-1'>XXX</button><span>btn-mediumspringgreen</span><br/>
            <button class='btn btn-springgreen m-1'>XXX</button><span>btn-springgreen</span><br/>
            <button class='btn btn-palegreen m-1'>XXX</button><span>btn-palegreen</span><br/>
            <button class='btn btn-lightgreen m-1'>XXX</button><span>btn-lightgreen</span><br/>
            <button class='btn btn-darkseagreen m-1'>XXX</button><span>btn-darkseagreen</span><br/>
            <button class='btn btn-mediumseagreen m-1'>XXX</button><span>btn-mediumseagreen</span><br/>
            <button class='btn btn-seagreen m-1'>XXX</button><span>btn-seagreen</span><br/>
            <button class='btn btn-darkgreen m-1'>XXX</button><span>btn-darkgreen</span><br/>
            <button class='btn btn-green m-1'>XXX</button><span>btn-green</span><br/>
            <button class='btn btn-forestgreen m-1'>XXX</button><span>btn-forestgreen</span><br/>
            <button class='btn btn-limegreen m-1'>XXX</button><span>btn-limegreen</span><br/>
            <button class='btn btn-lime m-1'>XXX</button><span>btn-lime</span><br/>
            <button class='btn btn-lawngreen m-1'>XXX</button><span>btn-lawngreen</span><br/>
            <button class='btn btn-chartreuse m-1'>XXX</button><span>btn-chartreuse</span><br/>
            <button class='btn btn-greenyellow m-1'>XXX</button><span>btn-greenyellow</span><br/>
            <button class='btn btn-yellowgreen m-1'>XXX</button><span>btn-yellowgreen</span><br/>
            <button class='btn btn-olivedrab m-1'>XXX</button><span>btn-olivedrab</span><br/>
            <button class='btn btn-darkolivegreen m-1'>XXX</button><span>btn-darkolivegreen</span><br/>
            <button class='btn btn-olive m-1'>XXX</button><span>btn-olive</span><br/>
            <button class='btn btn-darkkhaki m-1'>XXX</button><span>btn-darkkhaki</span><br/>
            <button class='btn btn-goldenrod m-1'>XXX</button><span>btn-goldenrod</span><br/>
            <button class='btn btn-darkgoldenrod m-1'>XXX</button><span>btn-darkgoldenrod</span><br/>
            <button class='btn btn-saddlebrown m-1'>XXX</button><span>btn-saddlebrown</span><br/>
            <button class='btn btn-sienna m-1'>XXX</button><span>btn-sienna</span><br/>
            <button class='btn btn-rosybrown m-1'>XXX</button><span>btn-rosybrown</span><br/>
            <button class='btn btn-peru m-1'>XXX</button><span>btn-peru</span><br/>
            <button class='btn btn-chocolate m-1'>XXX</button><span>btn-chocolate</span><br/>
            <button class='btn btn-sandybrown m-1'>XXX</button><span>btn-sandybrown</span><br/>
            <button class='btn btn-navajowhite m-1'>XXX</button><span>btn-navajowhite</span><br/>
            <button class='btn btn-wheat m-1'>XXX</button><span>btn-wheat</span><br/>
            <button class='btn btn-burlywood m-1'>XXX</button><span>btn-burlywood</span><br/>
            <button class='btn btn-tan m-1'>XXX</button><span>btn-tan</span><br/>
            <button class='btn btn-mediumslateblue m-1'>XXX</button><span>btn-mediumslateblue</span><br/>
            <button class='btn btn-mediumpurple m-1'>XXX</button><span>btn-mediumpurple</span><br/>
            <button class='btn btn-blueviolet m-1'>XXX</button><span>btn-blueviolet</span><br/>
            <button class='btn btn-indigo m-1'>XXX</button><span>btn-indigo</span><br/>
            <button class='btn btn-darkviolet m-1'>XXX</button><span>btn-darkviolet</span><br/>
            <button class='btn btn-darkorchid m-1'>XXX</button><span>btn-darkorchid</span><br/>
            <button class='btn btn-mediumorchid m-1'>XXX</button><span>btn-mediumorchid</span><br/>
            <button class='btn btn-purple m-1'>XXX</button><span>btn-purple</span><br/>
            <button class='btn btn-darkmagenta m-1'>XXX</button><span>btn-darkmagenta</span><br/>
            <button class='btn btn-fuchsia m-1'>XXX</button><span>btn-fuchsia</span><br/>
            <button class='btn btn-violet m-1'>XXX</button><span>btn-violet</span><br/>
            <button class='btn btn-orchid m-1'>XXX</button><span>btn-orchid</span><br/>
            <button class='btn btn-plum m-1'>XXX</button><span>btn-plum</span><br/>
            <button class='btn btn-mediumvioletred m-1'>XXX</button><span>btn-mediumvioletred</span><br/>
            <button class='btn btn-deeppink m-1'>XXX</button><span>btn-deeppink</span><br/>
            <button class='btn btn-hotpink m-1'>XXX</button><span>btn-hotpink</span><br/>
            <button class='btn btn-palevioletred m-1'>XXX</button><span>btn-palevioletred</span><br/>
            <button class='btn btn-lightpink m-1'>XXX</button><span>btn-lightpink</span><br/>
            <button class='btn btn-pink m-1'>XXX</button><span>btn-pink</span><br/>
            <button class='btn btn-lightcoral m-1'>XXX</button><span>btn-lightcoral</span><br/>
            <button class='btn btn-indianred m-1'>XXX</button><span>btn-indianred</span><br/>
            <button class='btn btn-crimson m-1'>XXX</button><span>btn-crimson</span><br/>
            <button class='btn btn-maroon m-1'>XXX</button><span>btn-maroon</span><br/>
            <button class='btn btn-darkred m-1'>XXX</button><span>btn-darkred</span><br/>
            <button class='btn btn-firebrick m-1'>XXX</button><span>btn-firebrick</span><br/>
            <button class='btn btn-brown m-1'>XXX</button><span>btn-brown</span><br/>
            <button class='btn btn-salmon m-1'>XXX</button><span>btn-salmon</span><br/>
            <button class='btn btn-darksalmon m-1'>XXX</button><span>btn-darksalmon</span><br/>
            <button class='btn btn-lightsalmon m-1'>XXX</button><span>btn-lightsalmon</span><br/>
            <button class='btn btn-coral m-1'>XXX</button><span>btn-coral</span><br/>
            <button class='btn btn-tomato m-1'>XXX</button><span>btn-tomato</span><br/>
            <button class='btn btn-red m-1'>XXX</button><span>btn-red</span><br/>
            <button class='btn btn-orangered m-1'>XXX</button><span>btn-orangered</span><br/>
            <button class='btn btn-darkorange m-1'>XXX</button><span>btn-darkorange</span><br/>
            <button class='btn btn-orange m-1'>XXX</button><span>btn-orange</span><br/>
            <button class='btn btn-gold m-1'>XXX</button><span>btn-gold</span><br/>
            <button class='btn btn-yellow m-1'>XXX</button><span>btn-yellow</span><br/>
            <button class='btn btn-khaki m-1'>XXX</button><span>btn-khaki</span><br/>
            <button class='btn btn-aliceblue m-1'>XXX</button><span>btn-aliceblue</span><br/>
            <button class='btn btn-ghostwhite m-1'>XXX</button><span>btn-ghostwhite</span><br/>
            <button class='btn btn-snow m-1'>XXX</button><span>btn-snow</span><br/>
            <button class='btn btn-seashell m-1'>XXX</button><span>btn-seashell</span><br/>
            <button class='btn btn-floralwhite m-1'>XXX</button><span>btn-floralwhite</span><br/>
            <button class='btn btn-whitesmoke m-1'>XXX</button><span>btn-whitesmoke</span><br/>
            <button class='btn btn-beige m-1'>XXX</button><span>btn-beige</span><br/>
            <button class='btn btn-oldlace m-1'>XXX</button><span>btn-oldlace</span><br/>
            <button class='btn btn-ivory m-1'>XXX</button><span>btn-ivory</span><br/>
            <button class='btn btn-linen m-1'>XXX</button><span>btn-linen</span><br/>
            <button class='btn btn-cornsilk m-1'>XXX</button><span>btn-cornsilk</span><br/>
            <button class='btn btn-antiquewhite m-1'>XXX</button><span>btn-antiquewhite</span><br/>
            <button class='btn btn-blanchedalmond m-1'>XXX</button><span>btn-blanchedalmond</span><br/>
            <button class='btn btn-bisque m-1'>XXX</button><span>btn-bisque</span><br/>
            <button class='btn btn-lightyellow m-1'>XXX</button><span>btn-lightyellow</span><br/>
            <button class='btn btn-lemonchiffon m-1'>XXX</button><span>btn-lemonchiffon</span><br/>
            <button class='btn btn-lightgoldenrodyellow m-1'>XXX</button><span>btn-lightgoldenrodyellow</span><br/>
            <button class='btn btn-papayawhip m-1'>XXX</button><span>btn-papayawhip</span><br/>
            <button class='btn btn-peachpuff m-1'>XXX</button><span>btn-peachpuff</span><br/>
            <button class='btn btn-moccasin m-1'>XXX</button><span>btn-moccasin</span><br/>
            <button class='btn btn-palegoldenrod m-1'>XXX</button><span>btn-palegoldenrod</span><br/>
            <button class='btn btn-mistyrose m-1'>XXX</button><span>btn-mistyrose</span><br/>
            <button class='btn btn-lavenderblush m-1'>XXX</button><span>btn-lavenderblush</span><br/>
            <button class='btn btn-lavender m-1'>XXX</button><span>btn-lavender</span><br/>
            <button class='btn btn-thistle m-1'>XXX</button><span>btn-thistle</span><br/>
            <button class='btn btn-azure m-1'>XXX</button><span>btn-azure</span><br/>
            <button class='btn btn-lightcyan m-1'>XXX</button><span>btn-lightcyan</span><br/>
            <button class='btn btn-powderblue m-1'>XXX</button><span>btn-powderblue</span><br/>
            <button class='btn btn-paleturquoise m-1'>XXX</button><span>btn-paleturquoise</span><br/>
            <button class='btn btn-honeydew m-1'>XXX</button><span>btn-honeydew</span><br/>
            <button class='btn btn-mintcream m-1'>XXX</button><span>btn-mintcream</span><br/>
        </div>
    </body>
</html>
